---
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import { Image } from "@astrojs/image/components";
import FormattedDate from "../../src/components/FormattedDate.astro";
import {getCollection} from "astro:content";
import {Icon} from "astro-icon";
import getSortedTags from "@/utils/getSortedTags";
import mountain from "/src/images/mountains.png";

const posts = await getCollection("projects");

const tags = getSortedTags(posts).slice(0, 6);
const sortedPosts = posts
    .filter((post) => post.data.featured == true)
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .slice(0, 5);
---

<Layout
        title="Delioos' Portfolio"
        description="Discover a Full-Stack Developer's folio."
>
    <SectionContainer class="hero--container flex flex-col gap-8 mt-32">



        <div class="content-container ">

            <div class="parallax-container">
                <div class="parallax-image mt-36">
                    <Image src={mountain} alt="Grayscale mountain" width="1920" aspectRatio="{1 / 1}" />
                </div>
                <script src="../styles/scripts/parallax.ts"></script>
            </div>

            <div class="fixed-content">
                <div class="flex justify-end  mt-9">
                    <h1 class="text-4xl lg:text-9xl font-medium leading-8 lg:leading-10 tracking-wider lg:tracking-wide mb-0 items-end">
                        PORTFOLIO
                    </h1>
                </div>
                <div class="about-container ml-20 mt-52 text-4xl md:text-3xl font-medium leading-8 lg:leading-10 tracking-tight lg:tracking-tighter text-neutral-500">
                    <h2 class="font-bold text-7xl">
                        Who am I?
                    </h2>
                    <div class="flex flex-row gap-10 mt-8">
                        <div class="flex flex-col gap-10">
                            <p>
                                I'm a free thinker
                            </p>
                            <p>
                                an open-source enthusiast
                            </p>
                        </div>
                        <div class="flex flex-col gap-10">
                            <p>
                                a full-stack developer
                            </p>
                            <p>
                                a decentralization maximalist
                            </p>
                        </div>
                </div>


            </div>


        </div>
        </div>
    </SectionContainer>
    <svg class="project-ilu" width="100%" height="400px">
        <line class="top-line" x1="0" y1="0" x2="100%" y2="0" stroke="black" stroke-width="2"/>
        <line class="diag-gauche" x1="0" y1="100%" x2="25%" y2="0" stroke="black" stroke-width="1"/>
        <line class="diag-end" x1="75%" y1="100%" x2="100%" y2="0" stroke="black" stroke-width="1"/>
        <line class="diag-mid" x1="65%" y1="100%" x2="90%" y2="0" stroke="black" stroke-width="1"/>
        <line class="second-line" x1="0" y1="35%" x2="75%" y2="35%" stroke="black" stroke-width="1"/>
        <line class="vert-1" x1="25%" y1="0" x2="25%" y2="100%" stroke="black" stroke-width="1"/>
        <line class="vert-2" x1="75%" y1="0" x2="75%" y2="60%" stroke="black" stroke-width="1"/>
        <line x1="0" y1="100%" x2="100%" y2="100%" stroke="black" stroke-width="2"/>

        <text class="svg-titre" x="50%" y="65%" font-family="Arial" font-size="150px" font-weight="bold" fill="black" text-anchor="middle">my projects</text>
        <text class="svg-descr" x="31%" y="92%" font-family="Arial" font-size="70px" font-style="italic" fill="black" text-anchor="start"> a selection of my work</text>
    </svg>

    <div
            class=" main-wrapper wrap-md grid gap-16 px-8 md:gap-24 lg:gap-32 mx-auto"
    >
        <!--  Projects Container -->
        <SectionContainer class="projects--container">

            <div class=" flex flex-row my-4 items-center text-neutral-500">
                <h2 class="font-medium text-h4 mb-0 leading-8 tracking-tighter">
                    Works
                </h2>
                <a href="/projects" class="font-medium flex no-underline ml-auto">
                    View all projects
                    <Icon name="ph:arrow-right-light" class="w-6 h-6 ml-4"/>
                </a>
            </div>

            <ul class="list-none space-y-5">
                {
                    sortedPosts.map((post) => (
                            <li class="flex flex-col gap-1">
                                <a
                                        href={`/projects/${post.slug}`}
                                        class="block w-full card-clip p-8 no-underline sm:flex-row sm:gap-8 bg-neutral-50 rounded-[40px] transition-all duration-300 hover:-top-0.5 relative"
                                >
                                <span class="grid flex-1 gap-1">
                                    <span class="text-neutral-900 line-clamp-1 md:inline-flex items-center">
                                        <span class="inline-block font-medium">
                                            {post.data.title}
                                        </span>
                                        <span class="md:mb-0 my-2 md:my-0 md:ml-2 text-sm w-max md:w-auto items-center rounded-full border border-neutral-300 bg-white px-1 py-[2px] font-medium text-primary-500 block md:inline-flex">
                                            <span class="px-2">
                                                <FormattedDate
                                                        date={post.data.pubDate}
                                                />
                                            </span>
                                        </span>
                                    </span>
                                    <span class="text-neutral-500 line-clamp-2 ">
                                        {post.data.description}
                                    </span>
                                </span>
                                </a>
                            </li>
                    ))
                }
            </ul>
        </SectionContainer>
        <!-- Blog Container -->
        <SectionContainer class="tags--container">
            <div class="flex flex-row my-4 items-center text-neutral-500">
                <h2
                        class="font-medium text-h4 text-neutral-500 leading-8 tracking-tighter mb-0"
                >
                    Top Tags
                </h2>

                <a href="/tags" class="font-medium flex no-underline ml-auto">
                    View all tags
                    <Icon name="ph:arrow-right-light" class="w-6 h-6 ml-4"/>
                </a>
            </div>

            <ul class="list-none space-y-5">
                {
                    tags.map((tag) => (
                            <li class={`inline-block my-3 mx-1 underline-offset-8`}>
                                <a
                                        href={`/tags/${tag.toLowerCase()}`}
                                        class={`text-lg pr-2 flex flex-wrap items-center relative underline hover:-top-0.5 hover:text-skin-accent focus-visible:p-1`}
                                >
                                    <Icon name="mdi:hashtag" class="w-6 h-6"/>
                                    &nbsp;<span>{tag.toLowerCase()}</span>
                                </a>
                            </li>
                    ))
                }
            </ul>
        </SectionContainer>
        <!-- Tags Container -->
    </div>
</Layout>
